<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hr Bot</title>
    <style>
        table {
            table-layout: fixed;
            width:50%
        }
        td {
            float: inherit;
            word-wrap:break-word;
            text-align: center;
        }
        button {
            cursor: pointer;
        }
        .my_button {
            float: left;
            display: block;
        }
    </style>
</head>
<body>
<div align="center">
    {% block content %} {% endblock %}
</div>
</body>
</html>