{% extends 'base.html' %}
{% block content %}
    <table border=1>
        <tr>
            <td>Name</td>
            <td>Last name</td>
            <td>Nickname</td>
            <td>Main technology</td>
            <td>Status</td>
            <td>CV</td>
            <td>User actions</td>
        </tr>
        {% for employee in employees.items  %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.nickname }}</td>
            <td>{{ employee.main_technology }}</td>
            <td>{{ employee.status }}</td>
            <td>{{ employee.employee_data.cv }}</td>
            <td>
                <div class="my_button">
                <form action = "{{ url_for('employee.update_status', employee_id = employee.id) }}" method="post">
                    <button>Change status</button>
                </form>
                </div>
                <div class="my_button">
                <form action = "{{ url_for('employee.update_user', employee_id = employee.id) }}" method="get">
                    <button>Update user</button>
                </form>
                </div>
                <div class="my_button">
                <form action = "{{ url_for('employee.delete_user', employee_id = employee.id) }}" method="post">
                    <button>Delete user</button>
                </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if employees.has_prev %}<a href="{{ url_for('main_page', page = employees.prev_num) }}"><button><< Previous page </button></a>{% else %}<button><< Previous page</button> {% endif %} |
    {% if employees.has_next %}<a href="{{ url_for('main_page', page = employees.next_num) }}"><button>Next page >></button></a>{% else %}<button>Next page >></button>{% endif %}
    <p>
        <form action = "{{ url_for('employee.add_user') }}" method="get">
            <button>Add</button>
        </form>
    </p>
{% endblock %}